{% extends "!layout.html" %}

{%- block extrahead %} 
 <style>
   #cite-menu {
       position: absolute;
       display: inline-block;
   }
   #cite-menu .menu {
       position: relative;
       top: 0px;
       left: 0px;
       background: white;
       padding: 0.5em;
       border: 1px solid black;
       border-radius: 0.5em;
   }
   .citeme {
       background: #aaaaaa;
       padding: 0em 0.4em;
       border-radius: 1em;
       cursor: pointer;
   }
   #csl-outer-block {
      position: absolute;
      height: 0px;
      max-width: 40em;
    }
   #csl-inner-block {
      max-width: 40em;
      height: 15em;
      position: relative;
      bottom: 17em;
      left: 2em;
    }
    #csl-content-block {
      background:white;
      border: solid black 1px;
      overflow-y: scroll;
      padding: 0.5em;
      box-shadow: 10px 10px 5px #888888;
   }
   .csl-hide {
     -webkit-opacity: 0;
     -moz-opacity: 0;
     opacity: 0;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
     transition: all 0.75s ease;
     -webkit-transition-delay: 0.25s;
     -moz-transition-delay: 0.25s;
     -ms-transition-delay: 0.25s;
     -o-transition-delay: 0.25s;
     transition-delay: 0.25s;
   }
   .csl-show {
     -webkit-opacity: 100;
     -moz-opacity: 100;
     opacity: 100;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
     transition: all 0.75s ease;      
   }
   .csl-entry {
     text-indent: -1.5em;
     margin-left: 1.5em;
     margin-bottom: 0.5em;
   }
 </style>
 {% if pagename == 'deployments' %}
 <script type="text/javascript">

  // Library of Cornell Conservation Agriculture
  var chosenLibraryItems = "https://api.zotero.org/groups/459003/items?format=csljson&limit=6&itemType=journalArticle";
  // Chicago Manual of Style (Full Note)
  var chosenStyleID = "chicago-fullnote-bibliography";

  // Fetch citation data
  var xhr = new XMLHttpRequest();
  xhr.open('GET', chosenLibraryItems, false);
  xhr.send(null);
  var citationData = JSON.parse(xhr.responseText);

  // Refactor citation data for keyed access
  var citations = {};
  var itemIDs = [];
  for (var i=0,ilen=citationData.items.length;i<ilen;i++) {
    var item = citationData.items[i];
    if (!item.issued) continue;
    if (item.URL) delete item.URL;
    var id = item.id;
    citations[id] = item;
    itemIDs.push(id);
  }

  // Initialize a system object
  citeprocSys = {
    retrieveLocale: function (lang){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'https://raw.githubusercontent.com/Juris-M/citeproc-js-docs/master/locales-' + lang + '.xml', false);
      xhr.send(null);
      return xhr.responseText;
    },
    retrieveItem: function(id){
      return citations[id];
    }
  };

  // Instantiate processor
  function getProcessor(styleID) {
    // Get the CSL style as a serialized string of XML
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://raw.githubusercontent.com/citation-style-language/styles/master/' + styleID + '.csl', false);
    xhr.send(null);
    var styleAsText = xhr.responseText;
    var citeproc = new CSL.Engine(citeprocSys, styleAsText);
    return citeproc;
  };


  // This runs at document ready, and renders the bibliography
  function processorOutput() {
    ret = '';
    var citeproc = getProcessor(chosenStyleID);
    citeproc.updateItems(itemIDs);
    var bibResult = citeproc.makeBibliography();
    return bibResult[1].join('\n');
  }

  function toggleCslDiv() {
    var button = document.getElementById('csl-cites-button');
    var target = document.getElementById("csl-inner-block");
    var content = document.getElementById("csl-content-block");
    if (target.classList.contains('csl-hide')) {
      content.innerHTML = processorOutput();
      target.classList.remove('csl-hide');
      target.classList.remove('csl-show');
      target.classList.add('csl-show');
      button.innerHTML = "Hide citations";
    } else {
      target.classList.remove('csl-show');
      target.classList.remove('csl-hide');
      target.classList.add('csl-hide');
      //content.innerHTML = '';
      button.innerHTML = "Generate citations";
    }
  }

  
  </script>
  {% endif %}

  {% if pagename == 'dynamic-editing' %}
  <script type="text/javascript" src="_static/workerapi/cslapi.js"></script>
  <script type="text/javascript">

window.addEventListener('load', function() {
  workaholic.initProcessor('chicago-author-date', 'en-US');
  var items = [
      "Geller 2002",
      "West 1934",
      "Allen 1878"
  ]
  function removeCiteMenu() {
         var node = document.getElementById('cite-menu');
         console.log('Got him: '+node);
         node.parentNode.removeChild(node);
  };
  document.body.addEventListener('click', function(e) {
     if (e.target.classList.contains('citeme')) {
       var node = e.target;
       if (node.nextSibling && node.nextSibling.setAttribute && node.nextSibling.setAttribute('id') === 'cite-menu') return;
       if (document.getElementById('cite-menu')) return;
       var menu = document.createElement('div');
       menu.setAttribute('id', 'cite-menu');
       menu.innerHTML = '<div class="menu">'
         + '<input type="checkbox">Geller 2002<br/>'
         + '<input type="checkbox">West 1934<br/>'
         + '<input type="checkbox">Allen 1878<br/>'
         + '</div>';
       var button = document.createElement('button');
       button.setAttribute('type', 'button');
       button.innerHTML = 'Save';
       menu.firstChild.appendChild(button);
       //node.parentNode.insertBefore(menu, node.nextSibling);
       node.appendChild(menu);
       button.addEventListener('click', removeCiteMenu);
     }
  });
});
  </script>
  {% endif %}
{% endblock %}
